<div class="container">
    <div class="container-header">
        <h2 style="text-align: center">AEGIS Sign Up</h2>
    </div>

    <form class="form-horizontal"
        [formGroup]="signupForm" 
        (ngSubmit)="submit()">

        <!-- Personal information form. -->
        <div class="personalForm">
            <table>
                <tr>
                    <th colspan="2"><h2>Personal:</h2></th>
                </tr>
                <tr>
                    <td>
                        <label for="first-name">First Name:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="text" 
                                        class="form-control"
                                        required
                                        formControlName="firstName"
                                        name="firstName"
                                        id="first-name" 
                                        placeholder="First name">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="middle-name">Middle Name:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="text" 
                                        class="form-control" 
                                        required
                                        formControlName="middleName"
                                        name="middleName"
                                        id="middle-name" 
                                        placeholder="Middle name">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="last-name">Last Name:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="text"
                                        class="form-control" 
                                        required
                                        formControlName="lastName"
                                        name="lastName"
                                        id="last-name" 
                                        placeholder="Last name">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="birthdate">Birthdate:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="date"
                                        class="form-control" 
                                        required
                                        formControlName="birthdate"
                                        name="birthdate"
                                        id="birthdate" 
                                        placeholder="Birthdate">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Contact information form. -->
        <div class="contactForm">
            <table>
                <tr>
                    <th colspan="2"><h2>Contact:</h2></th>
                </tr>
                <tr>
                    <td>
                        <label for="school-id">School ID:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="text" 
                                        class="form-control" 
                                        required
                                        formControlName="schoolId"
                                        name="schoolId"
                                        id="school-id" 
                                        placeholder="School ID">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="contact-no">Contact No.:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="text" 
                                        class="form-control" 
                                        required
                                        formControlName="contactNumber"
                                        name="contactNumber"
                                        id="contact-no" 
                                        placeholder="Contact number">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="email" 
                                        class="form-control" 
                                        required
                                        formControlName="email"
                                        name="email"
                                        id="email" 
                                        placeholder="Email Address">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="home">Home Address:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="text" 
                                        class="form-control" 
                                        required
                                        formControlName="home"
                                        name="home"
                                        id="home" 
                                        placeholder="Home Address">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Security information form. -->
        <div class="securityForm">
            <table>
                <tr>
                    <th colspan="2"><h2>Security:</h2></th>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="password"
                                        class="form-control"
                                        required
                                        formControlName="password"
                                        name="password"
                                        id="password"
                                        placeholder="Password">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="confirm-password">Confirm Password:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="password" 
                                        class="form-control"
                                        [class.errConfirmPass]="errConfirmPass()"
                                        [class.confirmPass]="confirmPass()"
                                        required
                                        formControlName="confirmPassword"
                                        id="confirm-password" 
                                        placeholder="Confirm password">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="security-question">Security Question:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <select type="text" 
                                        class="form-control" 
                                        required
                                        [class.selectedSecQuestion]="selectSecurityQuestion()"
                                        formControlName="securityQuestion"
                                        name="securityQuestion"
                                        id="security-question">
                                <option *ngFor="let question of questions" 
                                        [value]="question">{{ question }}
                                </option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="security-answer">Answer:</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input  type="text" 
                                        class="form-control" 
                                        required
                                        formControlName="securityAnswer"
                                        name="securityAnswer"
                                        id="security-answer" 
                                        placeholder="Answer">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <!-- User type form. -->
        <div class="container-footer">
            <br>
                <label for="user-type">What is your user type?</label>
            <br>
                <input  type="radio" 
                        name="type"
                        value="student" 
                        formControlName="type" 
                        class="user-type"
                        required> I am a Student
                <input  type="radio" 
                        name="type" 
                        value="teacher" 
                        style="margin-left: 30px;"
                        formControlName="type" 
                        class="user-type"
                        required> I am a Teacher
            <br>
            <br>
                <button type="submit"
                        [disabled]="signupForm.invalid || (password.value != confirmPassword.value)"
                        class="btn btn-primary"
                        style="margin-right: 20px;">Sign up
                </button>
                <button type="button"
                        [disabled]="signupForm.untouched"
                        class="btn btn-danger"
                        (click)="reset()">Reset
                </button>
            <br>
                <p (click)="userLogin()"
                    class="hyperlinks">I already have an account.</p>
        </div>
    </form>
</div>