<div *ngIf="!quests">
	Loading...
	<img class="loading-icon" src="/assets/images/loading.gif" />
</div>

<!-- Summary Table View -->
<div *ngIf="quests">
	<table id="hor-zebra" *ngIf="quests && questMap && quests.length > 0" class="quest-table">
		<thead></thead>
		<tbody>
			<tr>
				<td class="row-header">Quest</td>
				<td *ngFor="let quest of questMap.getQuestInformationArray()">
					{{quest.questLabel}}
				</td>
			</tr>
			<tr>
				<td class="row-header">Max EXP</td>
				<td *ngFor="let quest of questMap.getQuestInformationArray()">
					{{quest.quest.getQuestXp()}}
				</td>
			</tr>
			<tr>
				<td class="row-header">Max HP</td>
				<td *ngFor="let quest of questMap.getQuestInformationArray()">
					{{quest.quest.getQuestHp()}}
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Summary Card View -->
<!-- <div class="body" *ngIf="quests && questMap && quests.length > 0">
	<div class="card" *ngFor="let quest of questMap.getQuestInformationArray()">
		<div class="card-header"><h2>Quest {{quest.questLabel}}</h2></div>
		<div class="card-body">
			<div class="card-details">
				<h4>HP: {{quest.quest.getQuestHp()}}</h4>
				<h4>EXP: {{quest.quest.getQuestXp()}}</h4>
			</div>
		</div>
		<div class="card-footer">
			<button class="btn btn-primary" (click)="openQuest(quest.quest)">Full Details</button>
		</div>
	</div>
</div> -->

<!-- Modal Template for Quests-->
<!-- <ng-template #questTemplate>

	Quest Modal Header/Title
	<div class="modal-header">
		Modal Header
		<h4 class="modal-title">
			{{this.questClicked.getQuestTitle()}}
		</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	Quest Information
	<div class="modal-body">
		<span class="questDesc">
			{{this.questClicked.getQuestDescription()}}
		</span>

		<div *ngIf="this.pageService.hyperLinks.length == 0">walay sulod</div>
		<div *ngIf="this.pageService.hyperLinks.length > 0">naay sulod</div>
		{{this.questClicked.getQuestDescription()}}
		<br class="clear" />

		<div class="action-box" *ngIf="this.pageService.getPossibleLinks(this.questClicked.getQuestDescription())" style="font-size: 80%">
			Links here:
			<ul>
				<li *ngFor="let links of this.pageService.hyperLinks">
					<a href="{{links}}">{{links}}</a>
				</li>
			</ul>
		</div>
		<div class="row" style="margin-top: 20px">
			<div class="col-sm-6">
				Rewards:
				<br> + {{this.questClicked.getQuestXp()}} XP
				<br> + {{this.questClicked.getQuestHp()}} HP
				<br>
				<br>Quest Prerequisite:
				<ng-container *ngIf="this.questClicked.getQuestPrerequisite().length > 0">
					<ng-container *ngFor="let prereq of this.questClicked.getQuestPrerequisite()">
						<br>{{this.getQuestTitle(prereq)}}
					</ng-container>
				</ng-container>
				<ng-container *ngIf="this.questClicked.getQuestPrerequisite().length == 0">
					<br>None
				</ng-container>
				<ng-container *ngIf="this.questClicked.getQuestBadge().length > 0">Badge: {{this.badgeName}} (if
					achieved at least 80%
					when graded) </ng-container>

			</div>
			<div class="col-sm-6">
				Started on:
				<br> {{this.pageService.formatDateTime(this.questClicked.getQuestStartTimeDate())}}
				<br>
				<br> Deadline:
				<br> {{this.pageService.formatDateTime(this.questClicked.getQuestEndTimeDate())}}
				<br>
				<br>
			</div>
		</div>
	</div>
</ng-template> -->