<div *ngIf="!quests">
	Loading...
	<img class="loading-icon" src="/assets/images/loading.gif" />
</div>

<div *ngIf="quests">
	<div>
		Welcome to the Quest Map page, {{this.currentUser.getUserFirstName()}}! <br>
		This is where you can create quests and form your section's questmap.

		<span *ngIf="questMap && questMap.getMaxEXP() == 0 && questMap.getFlatOnePercentage() == 0">
			<br><br>
			Currently, you have not set the maximum EXP and Flat One Percentage that your students can get. <br>
			Set it so you can start creating your quest and questmap.
			<br><br>
			To set the maximum EXP and the Flat One Grade percentage, go to the SETTINGS <br>
			or you can <i><a [routerLink]="['../settings']">click this link right here!</a></i>
		</span>
	</div>

	<!--Graph for quest map-->
	<div [class.hidden]="(quests && quests.length == 0) || (questMap && (questMap.getMaxEXP() <= 0))">
		<div class="row">
			<div style="display: block">
				<canvas id="quest-map" baseChart width="500" height="500" #chartCanvas></canvas>
			</div>
		</div>
	</div>

	<div *ngIf="questMap && questMap.getFlatOnePercentage() != 0 && questMap.getMaxEXP() != 0 && quests.length == 0">
		<br>You have no quest yet. Click the button bellow to create your first quest!
		<br><br>
		<button class="btn btn-primary" (click)="goToCreateQuest(5,25)">Click here to create your first quest now!</button>
	</div>
</div>

<!-- Modal Template for Quests-->
<ng-template #questTemplate>

	<!-- Quest Modal Header/Title -->
	<div class="modal-header">
		<!-- Modal Header -->
		<div class="modal-title">
			<h4>{{this.questClicked.getQuestTitle()}}</h4>
		</div>
		<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<!-- Quest Information -->
	<div class="modal-body">
		<span class="questDesc">
			<i>"{{this.questClicked.getQuestDescription()}}"</i>
		</span>
		<br>
		<table>
			<tr>
				<td style="width: 50%">
					<h5>Rewards:</h5>
					<ol>
						<li>{{this.questClicked.getQuestHp()}} HP</li>
						<li>{{this.questClicked.getQuestXp()}} EXP</li>
					</ol>
				</td>
				<td>
					<h5>Links:</h5>
					<ol>
						<li *ngIf="!this.pageService.getPossibleLinks(this.questClicked.getQuestDescription())" style="color: red"><i>None</i></li>
						<li *ngFor="let links of this.pageService.hyperLinks"><a href="{{links}}" target="_blank">{{links}}</a></li>
					</ol>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Badges:</h5>
					<ol>
						<li *ngIf="this.questClicked.getQuestBadge().length == 0" style="color: red"><i>None</i></li>
						<li *ngFor="let badge of badgeNames">{{badge}}</li>
					</ol>
				</td>
				<td>
					<h5>Quest Prerequisite(s):</h5>
					<ol>
						<li *ngIf="this.questClicked.getQuestPrerequisite().length == 0" style="color: red"><i>None</i></li>
						<li *ngFor="let prereq of this.questClicked.getQuestPrerequisite()">{{this.getQuestTitle(prereq)}}</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Start Date:</h5>
					<ol style="list-style: none;">
						<li>{{this.pageService.formatDateTime(this.questClicked.getQuestStartTimeDate())}}</li>
					</ol>
				</td>
				<td>
					<h5>End Date:</h5>
					<ol style="list-style: none;">
						<li>{{this.pageService.formatDateTime(this.questClicked.getQuestEndTimeDate())}}</li>
					</ol>
				</td>
			</tr>
		</table>
	</div>
</ng-template>